<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.listeners.TestListener"/>
        <listener class-name="utils.listeners.AnnotationTransformer"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Mahmoud/Projects/NomoProject">
        <classes>
            <class name="testCases.TestCases">
                <methods>
                    <include name="verifyNomoIsOpen"/>
                    <include name="verifyPropertyFinanceCalculations"/>
                    <include name="verifyMaximumPropertyValue"/>
                    <include name="verifyMaximumFinanceAmountErrorMsg"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>